/* Default (light mode) styles */
.navbar-main {
    background-color: rgb(242, 242, 243);
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically centered */
    padding: 10px; /* Add some padding for spacing */
}



.logo-image{
    height: 55px;
    width: 130px;
    /* object-fit: cover; */
}

.list {
    list-style-type: none;
    display: flex; /* Display list items horizontally */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    margin-right: 200px;
}

.list li {
    margin-right: 20px; /* Add space between list items */
}

.list li:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

.text {
    display: flex;
    justify-content: center;
    color: rgb(81, 157, 245);
    font-size: 40px;
}

.categories-main{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    margin-top: 40px;
}


.box{
    /* border-radius: 20px; */
    height: 30vh;
    width: 300px;
    max-width: 400px;
    background-color: rgb(50, 127, 250);
    padding: 10px;
    color: #ffffff;
}

.container-icon-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    font-size: 20px;

}
.link{
    font-size: 11px;
}
.box-text{
    margin-top:25px;
}
.box-text p{
    font-size: larger;
}
.box-text h6{
    font-size: 12px;
    margin-left: 10px;
}